* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #ff52ff;
    text-align: center;
}
.main{
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game{
    height: 58vmin;
    width: 58vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    color: rgb(255, 47, 0);
    box-shadow: 0 0 1rem rgba(0,0, 0, 1);
    font-size: 8vmin;
}

.reset{
    padding: 2rem;
    font-size: 2rem;
    background-color: bisque;
    border-radius: 5em;
    border: none;
    cursor: pointer;
}
#msg{
    color: bisque;
    font-size: 8vmin;
}
#new-btn{
    padding: 2rem;
    font-size: 2rem;
    background-color: bisque;
    border-radius: 5em;
    border: none;
    cursor: pointer;

}
.msg-passed{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}